@model IEnumerable<EquipmentManager_Assignment1.Models.Equipment>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Equipments";
}


<h2>All Equipment</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr class="@(equipment.IsAvailable? "table-success":"table-danger")">
                <td>@equipment.EquipmentId</td>
                <td>@equipment.Type</td>
                <td>@equipment.Description</td>
                <td>@equipment.IsAvailable</td>
            </tr>
        }
    </tbody>
</table>